/target
/.vscode
/bin
/logs
dependency-reduced-pom.xml
/.gradle
/gradle
/.VSCodeCounter
build/
/world
/world_nether
/world_the_end
banned-ips.json
banned-players.json
bukkit.yml
commands.yml
custom-knockback.yml
custom-spigot-entity.yml
custom-spigot-server.yml
custom-spigot-world.yml
help.yml
ops.json
paper.yml
permissions.yml
server.properties
/plugins
ops.json
spigot.yml
taco.yml
usercache.json
whitelist.json
eula.txt
